<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% include 'commons/css.html.twig' %}
    {% endblock %}
</head>
<body>
<div class="container">
    {% include 'commons/navlang.html.twig' %}
    {% block navbar %}
    {% endblock %}

    {% block body %}{% endblock %}
    {% block footer %}
    {% endblock %}
    {% include 'commons/javascripts.html.twig' %}
    {% block javascripts %}
    {% endblock %}
</div>
</body>
</html>
