{% extends 'base.html.twig' %}
{% block title %}
    Page introuvable
{% endblock %}

{% block body %}
    <div class="row bg-dark" style="margin-top:20px; color:white">
        <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2 text-center">
            <h1>Page introuvable</h1>
        </div>
    </div>

    <div class="row bg-danger" style="margin-top:20px">
        <div class="text-center col-md-12">
            <h3>
                La ressource ou le contenu demandé(e) n'existe pas. <a class="text-white-50" href="{{ path('menu_principal') }}">Retour à la page d'accueil</a>
            </h3>
        </div>
    </div>
    <div class="row" style="color:white; margin-top:20px">
        <div class="col-md-12 text-center">
            <img class="img-fluid h-75" src="{{ asset('imgs/comptes_utilisateurs.png') }}" style="width:40%">
        </div>
    </div>
{% endblock %}