{% extends 'base.html.twig' %}
{% block title %}
    Hello
{% endblock %}

{% block navbar %}
    {% include 'commons/navbar.html.twig' %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            Bonjour {{ name }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}