<div class="row">
    <div class="col-md-12">
        <div class="row bg-dark mt-1">
            <span class="ml-3 text-warning">
                <a class="text-white" href="{{ path('change_langue') }}">Français</a> || <a class="text-white" href="{{ path('change_langue') }}">Anglais</a>
            </span>
        </div>
    </div>
</div>