<div class="row">
    <div class="col-md-12">
        <div class="row bg-dark mt-1">
            <span class="ml-3 text-warning">
                <a class="text-white" href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">{{ 'navlang.fr'|trans }}</a>
                ||
                <a class="text-white" href="{{ path(app.request.get('_route'),app.request.get('_route_params')|merge({'_locale': 'en'})) }}">{{ 'navlang.en'|trans }}</a>
            </span>
        </div>
    </div>
</div>
